*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;

}
#main{
    width: 100%;
    height: 100%;
}
#page1{
    width: 100%;
    height: 100%;
    background-color: #acacac;
}
#nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 2vw;
    
    justify-content: center;

}
#navinner{
    margin-top: 3vw;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: center;
    /* background-color:; */
    background: linear-gradient(to bottom, rgb(35, 145, 173), rgb(131, 181, 194) );
    border-radius: 50px;
    padding: 0vw 5vw;
    box-shadow:  1px 1px 5px 1px rgb(37, 36, 36);

}
#nav a{
    text-decoration: none;
font-size: 1.1vw;
font-family: gilroy;
font-weight: 400;
    color: #fff;
    
}