*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    height: 100%;
    width: 100%;

}
#main{
    width: 100%;
    height: 100%;
}
#page1{
    width: 100%;
    height: 100%;
    background-color: #acacac;
}
#overlay{
    width: 40vw;
    height: 40vw;
    background-color: rgba(255, 255, 255, 0.31);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    display: flex;
    align-items: center;
    justify-content: center;

}
#close{
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 1.5vw;
}


#register  {
    gap: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
   
}
#register input{
    width: 20vw;
    height: 2.2vw;
    border-radius: 1%;
    outline: none;
    border: none;
    padding-left: 2vw;
}
#register ::placeholder{
    text-transform: capitalize;
    
    font-weight: 400;
    font-size: 1vw;
}

.submit{
    text-align: center;
    width: 10vw;
height: 2.2vw;
    margin-top: 2vw;
    background-color: #80BDCC;
}
.submit::placeholder{
    text-align: center;

}
#login{
    gap: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 20vw;
    height: 10vw;
}
#bottomText{
    position: absolute;
    bottom: 1%;
    /* left: 30%; */
    text-align: center;
    font-size: 1.5vw;
    text-transform: capitalize;
    color: gray;

}
#bottomText a{
    text-decoration: none;
    color: gray;
    font-size: 1.5vw;
    font-weight: 400;

}
#nav{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 2vw;
    
    justify-content: center;

}
#navinner{
    margin-top: 3vw;
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: center;
    /* background-color:; */
    background: linear-gradient(to bottom, rgb(35, 145, 173), rgb(131, 181, 194) );
    border-radius: 50px;
    padding: 0vw 5vw;
    box-shadow:  1px 1px 5px 1px rgb(37, 36, 36);

}
#nav a{
    text-decoration: none;
font-size: 1.1vw;
font-family: gilroy;
font-weight: 400;
    color: #fff;
    
}